* {
  font: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightgreen;
}

header {
  padding: 20px;
  font-size: 3rem;
  text-align: center;
}

.board {
  display: inline-grid;
  gap: 1rem;
  grid-template-columns: auto auto auto auto;
  height: 85%;
  aspect-ratio: 1/1;
  max-width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.card {
  aspect-ratio: 1/1;
  background-image: url(Images/mulan-memory-2.jpeg);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.card:hover {
  cursor: pointer;
}

.card-1-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-7.jpeg);
}

.card-2-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-1.webp);
}

.card-3-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-9.jpg);
}

.card-4-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-3.jpg);
}

.card-5-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-4.jpeg);
}

.card-6-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-9.jpg);
}

.card-7-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-8.jpeg);
}

.card-8-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-5.webp);
}

.card-9-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-6.jpeg);
}

.card-10-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-3.jpg);
}

.card-11-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-1.webp);
}

.card-12-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-7.jpeg);
}

.card-13-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-8.jpeg);
}

.card-14-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-4.jpeg);
}

.card-15-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-6.jpeg);
}

.card-16-flipped {
  transform: rotateY(180deg);
  transition: 0.5s;
  background-image: url(Images/mulan-memory-5.webp);
}
