* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body{
  background-color: beige;
}

.site-header {
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  width: 80%;
}

.animated_rainbow {
  font-size: 80px;
  font-family: Arial Black, Gadget, sans-serif;
  background-image: -webkit-linear-gradient(
    left,
    rgb(189, 136, 136),
    #e2c7c1,
    rgb(156, 117, 97),
    #e4d79a,
    rgb(190, 190, 126),
    #dbe4ad,
    rgb(153, 167, 125),
    #e0f3cc,
    rgb(124, 146, 112),
    #82a17b,
    rgb(139, 175, 139),
    #a6d4ae,
    rgb(169, 211, 183),
    #84bda0,
    rgb(151, 190, 177),
    #82aca5,
    rgb(145, 194, 194),
    #89a3a8,
    rgb(139, 157, 167),
    #8b9cad,
    rgb(154, 166, 190),
    #959bbb,
    rgb(142, 142, 173),
    #9590af,
    rgb(144, 131, 170),
    #907ea1,
    rgb(149, 126, 160),
    #987c9e,
    rgb(141, 108, 141),
    #8f768b,
    rgb(177, 141, 165),
    #a88496,
    rgb(153, 123, 133),
    #967b80,
    rgb(156, 119, 119)
  );
  animation: animatedBackground_a 5s linear infinite alternate;
  -webkit-animation: animatedBackground_a 5s linear infinite alternate;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  text-align: center;
}

@keyframes animatedBackground_a {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -500px 0;
  }
}

.nav-menue {
  font-size: 2rem;
  background-color: wheat;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  gap: 1.5rem;
  list-style: none;
  height: 3rem;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.nav-menue:hover {
  height: 100%;
  width: 80%;
  transition: height 0.5s ease-in;
  z-index: 10;
}

.intro-small{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-size: 2rem;
  color: beige;
}

.background-image-first-page {
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro {
  display: flex;
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: beige;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

.mulan-and-mushu {
  width: 90vw;
  margin: auto;
}

.mulan-and-sword {
  width: 90vw;
  margin: auto;
}


.sign-up-bar{
  background-color: white;
  border: solid 3px burlywood;
  text-align: center;
  padding: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.button{
  margin: 5px;
}

@media screen and (min-width: 600px) {
  .intro{
    width: 70%;
  }
  
  .intro {
    position: absolute;
    top:10%;    
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 1.1rem;
    color: beige;
    width: 50%;
    background-color: transparent;
  }

  .mulan-and-sword{
    display: none;
  }
  .mulan-and-mushu{
    display: none;
  }
  .intro-small{
    display: none;
  }
  .sign-up-bar {
    background-color: rgb(180, 180, 152);
    border: 2px solid black;
    width: 11%;
    padding: 0.2rem;
    text-align: center;
    position: fixed;
    right: 5px;
    bottom: 10%;
  }
  .button {
    margin-top: 3px;
  }

  .container-content{
    width: 90%;
  }
  
}
.container-content{
  border: solid red 3px;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.mulan-skiss{
  float: left;
  width: 7rem;
  margin: 1rem;

}

.mulan-skiss2{
  float: right;
  width: 30%;
  margin: 1rem;
}